Source: hdbc
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: John Goerzen <jgoerzen@complete.org>
Build-Depends:
 cdbs,
 debhelper (>= 7),
 ghc6 (>= 6.12),
 haskell-devscripts (>= 0.6.18),
 cpphs,
 haddock,
 libghc6-mtl-dev,
 libghc6-mtl-prof,
 libghc6-time-dev,
 libghc6-time-prof,
 libghc6-convertible-dev (>= 1.0.1-2),
 libghc6-convertible-prof,
 ghc6-doc,
 haddock,
 hscolour,
 libghc6-mtl-doc,
 libghc6-time-doc,
 haskell-convertible-doc
Standards-Version: 3.8.3
Section: haskell
Homepage: http://software.complete.org/hdbc
Vcs-Git: git://git.debian.org/git/pkg-haskell/hdbc.git
Vcs-Browser: http://git.debian.org/?p=pkg-haskell/hdbc.git;a=summary

Package: libghc6-hdbc-dev
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${haskell:Depends}
Suggests: libghc6-hdbc-postgresql-dev | libghc6-hdbc-sqlite3-dev, libghc6-hdbc-missingh-dev, ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Description: Haskell Database Connectivity, GHC6 package
 HDBC provides an abstraction layer between Haskell programs and SQL
 relational databases. This lets you write database code once, in
 Haskell, and have it work with any number of backend SQL databases
 (MySQL, Oracle, PostgreSQL, ODBC-compliant databases, etc.)
 .
 HDBC is modeled loosely on Perl's DBI interface, though it has also been
 influenced by Python's DB-API v2, JDBC in Java, and HSQL in Haskell.
 .
 To use HDBC, you'll need both this package, and a driver package such
 as libghc6-hdbc-postgresql-dev.

Package: libghc6-hdbc-prof
Architecture: any
Depends: ${haskell:Depends}, ${misc:Depends}
Description: Haskell Database Connectivity, GHC6 profiling data
 HDBC provides an abstraction layer between Haskell programs and SQL
 relational databases. This package provides profiling information for using
 HDBC with GHC6.

#Package: libhugs-hdbc
#Section: libs
#Architecture: all
#Depends: ${haskell:Depends}, libhugs-convertible (>= 1.0.1-2), libhugs-time-bundled
#Description: Haskell Database Connectivity, Hugs package
# HDBC provides an abstraction layer between Haskell programs and SQL
# relational databases. This lets you write database code once, in
# Haskell, and have it work with any number of backend SQL databases
# (MySQL, Oracle, PostgreSQL, ODBC-compliant databases, etc.)
# .
# HDBC is modeled loosely on Perl's DBI interface, though it has also been
# influenced by Python's DB-API v2, JDBC in Java, and HSQL in Haskell.
# .
# To use HDBC, you'll need both this package, and a driver package such
# as libhugs-hdbc-postgresql.

Package: haskell-hdbc-doc
Section: doc
Architecture: all
Depends: ${haskell:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Haskell Database Connectivity, Documentation
 HDBC provides an abstraction layer between Haskell programs and SQL
 relational databases. This lets you write database code once, in
 Haskell, and have it work with any number of backend SQL databases
 (MySQL, Oracle, PostgreSQL, ODBC-compliant databases, etc.)
 .
 HDBC is modeled loosely on Perl's DBI interface, though it has also been
 influenced by Python's DB-API v2, JDBC in Java, and HSQL in Haskell.
