Source: hdbc
Priority: optional
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 4.0.0), ghc6 (>= 6.8.2dfsg1), haskell-devscripts (>= 0.6.15), cpphs, haddock, libghc6-mtl-dev, libghc6-time-dev, libghc6-time-prof
Build-Depends-Indep: debhelper (>= 4.0.0), haddock, hugs (>= 98.200503.08), haskell-devscripts (>= 0.6.15), ghc6 (>= 6.8.2dfsg1), cpphs, libghc6-mtl-doc, libghc6-time-doc, ghc6-doc
Standards-Version: 3.6.2
Section: libs

Package: libghc6-hdbc-dev
Section: libdevel
Architecture: any
Depends: ${haskell:Depends}, libghc6-mtl-dev
Suggests: libghc6-hdbc-postgresql-dev | libghc6-hdbc-sqlite3-dev, libghc6-hdbc-missingh-dev
Description: Haskell Database Connectivity, GHC6 package
 HDBC provides an abstraction layer between Haskell programs and SQL
 relational databases. This lets you write database code once, in
 Haskell, and have it work with any number of backend SQL databases
 (MySQL, Oracle, PostgreSQL, ODBC-compliant databases, etc.)
 .
 HDBC is modeled loosely on Perl's DBI interface, though it has also been
 influenced by Python's DB-API v2, JDBC in Java, and HSQL in Haskell.
 .
 To use HDBC, you'll need both this package, and a driver package such
 as libghc6-hdbc-postgresql-dev.

Package: libghc6-hdbc-prof
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libghc6-hdbc-dev, ghc6-prof (>= 6.8.2), ghc6-prof (<< 6.8.2+)
Description: Haskell Database Connectivity, GHC6 profiling data
 HDBC provides an abstraction layer between Haskell programs and SQL
 relational databases. This package provides profiling information for using
 HDBC with GHC6.

Package: libhugs-hdbc
Section: libs
Architecture: all
Depends: ${haskell:Depends}
Description: Haskell Database Connectivity, Hugs package
 HDBC provides an abstraction layer between Haskell programs and SQL
 relational databases. This lets you write database code once, in
 Haskell, and have it work with any number of backend SQL databases
 (MySQL, Oracle, PostgreSQL, ODBC-compliant databases, etc.)
 .
 HDBC is modeled loosely on Perl's DBI interface, though it has also been
 influenced by Python's DB-API v2, JDBC in Java, and HSQL in Haskell.
 .
 To use HDBC, you'll need both this package, and a driver package such
 as libhugs-hdbc-postgresql.

Package: haskell-hdbc-doc
Section: doc
Architecture: all
Depends: ${haskell:Depends}
Description: Haskell Database Connectivity, Documentation
 HDBC provides an abstraction layer between Haskell programs and SQL
 relational databases. This lets you write database code once, in
 Haskell, and have it work with any number of backend SQL databases
 (MySQL, Oracle, PostgreSQL, ODBC-compliant databases, etc.)
 .
 HDBC is modeled loosely on Perl's DBI interface, though it has also been
 influenced by Python's DB-API v2, JDBC in Java, and HSQL in Haskell.
